<?xml version="1.0" encoding="utf-8"?>
<!--
   Copyright: 2011 Ramon Sadornil (jush)

   This file is part of LocationTimeMonitoring.

   LocationTimeMonitoring is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   LocationTimeMonitoring is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with LocationTimeMonitoring; if not, write to the Free Software
   Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jush.locationtimemonitoring"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk
        android:minSdkVersion="7" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:label="@string/app_name"
            android:name=".activities.MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:process=":update"
            android:name=".monitoring.MonitoringUpdate"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!-- The own application intent action (used for the AlarmManager) -->
                <action
                    android:name=".monitoring.MONITORING_UPDATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:process=":handler"
            android:name=".monitoring.MonitoringActionHandler"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver
            android:label="@string/app_name"
            android:name=".widget.MainWidgetProvider">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mainwidgetprovider" />
        </receiver>
        <service
            android:name=".widget.UpdateWidgetService" />
        <activity
            android:name=".activities.MainPreferences"></activity>
    </application>
</manifest>